.tag {
  display: flex;
  align-items: center;
  border-radius: 24.4rem;
  background: #fff;
  max-width: 12.1rem;
  padding: 6px 4px;
  &.blue-tag {
    .icon {
      background-color: rgba(63, 104, 186, 0.15);
    }
    span {
      color: #3f67ba;
    }
  }
  .icon {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background-color: rgba(194, 0, 0, 0.2);
    @include centerTotalFlex;
    margin-right: 8px;
  }
  span {
    color: #c20001;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
}

.search {
  border-radius: 122px;
  background: #fff;
  width: 100%;
  max-width: 40.3rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.7rem 0 2.5rem;
  input[type="text"] {
    border: 0;
    width: 80%;
    outline: none;
    color: #a0afba;
    font-size: 1.5rem;
    line-height: 150%;
    &::placeholder {
      color: #a0afba;
    }
  }
  button {
    width: 42px;
    height: 42px;
    border: 1px solid transparent;
    transition: border-color 0.3s;
    &:hover {
      border-color: #3f67ba;
    }
    border-radius: 50%;
    @include centerTotalFlex;
    background-color: rgba(158, 185, 225, 0.1);
  }
}

.type-filter {
  display: flex;
  align-items: center;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s;
  &:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  .icon {
    width: 2.8rem;
    height: 2.8rem;
    @include centerTotalFlex;
    margin-right: 0.5rem;
  }
  span {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%; /* 22.5px */
  }
  &.bug {
    color: #9bba48;
  }
  &.dark {
    color: #595761;
  }
  &.dragon {
    color: #2c6ac1;
  }
  &.eletric {
    color: #eed967;
  }
  &.fairy {
    color: #e296e1;
  }
  &.fighting {
    color: #c44d61;
  }
  &.ground {
    color: #ce8056;
  }
  &.ice {
    color: #8bcec1;
  }
  &.normal {
    color: #a0a29f;
  }
  &.poison {
    color: #ac6aca;
  }
  &.psychic {
    color: #eb8b85;
  }
  &.rock {
    color: #8bcec1;
  }
  &.ghost {
    color: #616eb7;
  }
  &.grass {
    color: #73b861;
  }
  &.steel {
    color: #6594a1;
  }
  &.water {
    color: #88a3d4;
  }
  &.fire {
    color: #f66d6d;
  }
  &.flying {
    color: #a6bbe8;
  }
}

.pokemon-card {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 30.4rem;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  z-index: 1;
  &.grass {
    .image {
      &::after {
        background-color: rgba(114, 184, 97, 0.2);
      }
    }
  }
  &.bug {
    .image {
      &::after {
        background-color: rgba(156, 186, 72, 0.2);
      }
    }
  }
  &.dark {
    .image {
      &::after {
        background-color: rgba(89, 87, 97, 0.2);
      }
    }
  }
  &.dragon {
    .image {
      &::after {
        background-color: rgba(44, 106, 193, 0.2);
      }
    }
  }
  &.eletric {
    .image {
      &::after {
        background-color: rgba(238, 218, 103, 0.2);
      }
    }
  }
  &.fairy {
    .image {
      &::after {
        background-color: rgba(226, 150, 225, 0.2);
      }
    }
  }
  &.fighting {
    .image {
      &::after {
        background-color: rgba(196, 77, 97, 0.2);
      }
    }
  }
  &.ground {
    .image {
      &::after {
        background-color: rgba(206, 128, 86, 0.2);
      }
    }
  }
  &.ice {
    .image {
      &::after {
        background-color: #8bcec1;
      }
    }
  }
  &.normal {
    .image {
      &::after {
        background-color: rgba(160, 162, 159, 0.2);
      }
    }
  }
  &.poison {
    .image {
      &::after {
        background-color: rgba(172, 106, 202, 0.2);
      }
    }
  }
  &.psychic {
    .image {
      &::after {
        background-color: rgba(235, 140, 133, 0.2);
      }
    }
  }
  &.rock {
    .image {
      &::after {
        background-color: rgba(139, 206, 193, 0.2);
      }
    }
  }
  &.steel {
    .image {
      &::after {
        background-color: rgba(101, 148, 161, 0.2);
      }
    }
  }
  &.ghost {
    .image {
      &::after {
        background-color: rgba(97, 110, 183, 0.2);
      }
    }
  }
  &.water {
    .image {
      &::after {
        background-color: rgba(136, 163, 212, 0.2);
      }
    }
  }
  &.fire {
    .image {
      &::after {
        background-color: rgba(246, 109, 109, 0.2);
      }
    }
  }
  &.flying {
    .image {
      &::after {
        background-color: rgba(166, 187, 232, 0.2);
      }
    }
  }
  .image {
    position: relative;
    top: -3.5rem;
    width: 200px;
    height: 200px;
    @include centerTotalFlex;
    margin: 0 auto;
    margin-bottom: -3rem;
    &::after {
      content: "";
      width: 16.5rem;
      height: 16.5rem;
      background-color: #d6ebdc;
      position: absolute;
      z-index: -1;
      border-radius: 50%;
    }
  }
  .info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.8rem;
    .text {
      display: flex;
      text-align: left;
      font-size: 1.8rem;
      line-height: 140%;
      font-weight: 700;
      color: #2f3133;
      margin-bottom: 0.6rem;
      gap: 0.4rem;
    }
    .icon {
      display: block;
      position: absolute;
      top: 26.4rem;
    }
  }
}
